<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head> 
  <body>
    <dialog open class="stylist-card">
      <figure class="stylist-card__portrait">
        <div class="stylist-card__showreel">
        </div>
        <img class="stylist-card__portrait__img" src="https://via.placeholder.com/350"></img>
      </figure>
      <section class="stylist-card__details">
      <header class="stylist-card__header">
        <details>
          <summary>
            <h1 class="stylist-card__stylist-name">[name]</h1>
          </summary>
          <p>This is the bio</p>
        </details>
        <div class="specialities">
          <h4 class="stylist-card__stylist-spec">[speciality]</h4>
          <h4 class="stylist-card__stylist-spec">[speciality]</h4>
          <h4 class="stylist-card__stylist-spec">[speciality]</h4>
        </div>
      </header>
        <section class="stylist-card__services">
          <h1>[Services]</h1>
        </section>
      </section>
    </dialog>
  </body>
</html>
